.order_Section {
    background: rgb(19, 19, 52);
    padding: 0 15px;
}

.order_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_top_title {
    font-size: 20px;
    text-transform: uppercase;
}

.order_edit {
    font-size: 15px;
    color: rgb(237 168 82);
    border: none;
    background-color: transparent;
}

.orders_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.orders_menu-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.order_menu_img {
    max-width: 60px;
    width: 100%;
}

.order_menu_title {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.order_menu_title-h3 {
    font-size: 16;
    margin: 0;
}

.order_menu_category {
    margin: 0;
    font-size: 14px;
    color: rgb(183 124 181);
    text-transform: capitalize;
}

.order_quantity {
    color: rgb(237 168 82);
}